.text-left {
    text-align: left;
}

.types-product {
    width: 100%;
    height: 50px;
}

.form-outline,
.title-content {
    text-align: center;
    margin-bottom: 10px;
}

form a {
    font-size: 12px;
}

p {
    margin-top: 10px;
}

b,
h4 {
    font-weight: bolder;
}