/* accout page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#fff, #ffd6d6);
}

.btn-submit {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn-modal {
    width: 100%;
}

.btn-success {
    background-color: #18B945;
}

.btn-secondary {
    background-color: #555;
}

.btn:hover {
    background: #563434;
}

.btn-search-product {
    border-radius: 15px;
    border: 1px solid #6c5f5f;
    padding: 12px 20px;
    width: 120px;
    height: 45px;
}

.view-product {
    margin: 20px;
}

.form-page {
    padding: 50px;
    margin: auto;
}

.img-product {
    width: 150px;
    height: 150px;
}

.form-add-product {
    text-align: right;
    margin-right: 15%;
}

.form-page .col-2 .form-container {
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.col-6 {
    margin-top: 20px;
}

button.view-product {
    width: 108px;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-left: -55px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.form-container span,
.form-container .show-sign-in-btn,
.form-container .show-sign-up-btn {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 105px;
    display: inline-block;
}

span.message_check {
    width: auto;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.5s;
}

div.form-outline {
    margin-top: 20px;
}

section {
    margin-top: 30px;
}

input.text-box {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

input.modal-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.close-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container-modal {
    padding: 16px;
}

.main-container {
    background: radial-gradient(#fff, #ffd6d6);
    max-width: 100%;
}


/* The Modal (background) */

.modal {
    text-align: left;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 45%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

form .btn-submit {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form btn-:focus {
    outline: none;
}

.types-product {
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.datatable-search-input {
    width: 60%;
    height: 40px;
    left: 240px;
    top: 79px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 12px 20px;
}

.form-outline,
.title-content {
    text-align: center;
    margin-bottom: 10px;
}

.row {
    margin-top: 20px;
}

.form-view-product {
    box-sizing: border-box;
    border: 1px solid #000000;
}

.login-form {
    left: -300px;
}

.reg-form {
    left: 0px;
}

form a {
    font-size: 12px;
}

hr {
    width: 105px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transition: transform 0.5s;
}

#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

@media (min-width: 1200px) {
    .form-page {
        max-width: 1140px;
    }
    .modal-content {
        width: 500px;
    }
}