@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Montserrat-Medium.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/Montserrat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/Montserrat-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('/fonts/Montserrat-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/Montserrat-Medium.svg') format('svg');
    /* Legacy iOS */
}