$orange-color: #fc724d;
$white-color: #fff;
$pink-color: #ffd6d6;
$btn-hold-color: #26335d;
$dark-color: #737373;
$shadow-color: rgba(0, 0, 0, 0.1);
$black-color: #000000;
$border-color: #ccc;
$success-color: #18B945;