* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#fff, #ffd6d6);
}

.main-container {
    background: radial-gradient($white-color, $pink-color);
    max-width: 100%;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 0.5s;
}

.form-page {
    padding: 50px;
    margin: auto;
}

.form-page .col-2 .form-container {
    overflow: hidden;
}

.form-container span,
.form-container .show-sign-in-btn,
.form-container .show-sign-up-btn {
    font-weight: bold;
    padding: 0 10px;
    color: $dark-color;
    cursor: pointer;
    width: 105px;
    display: inline-block;
}

@media (min-width: 1200px) {
    .form-page {
        max-width: 1140px;
    }
}