.footer-links {
    ul {
      list-style-type: none;
    }
  
    a {
      color: $text-dark;
      text-decoration: none;
    }
  
    h5 {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #252B42;
    }
}
  
.footer-info h5 {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.footer-space {
    margin-left: 22px;
    max-width: 15%;
}
  
.footer-end {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.2px;
    color: $text-dark;
    max-height: 30px;
    margin-left: 0px;
}

@media (min-width: 480px) {
  .footer-end {
    text-align: center;
  }

  .footer-space {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0%;
  }
}

@media (min-width: 750px) {
  .footer-end {
    text-align: center;
  }

  .footer-info {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .footer-end {
    text-align: left;
    margin-left: 30px;
  }

  .footer-space {
    max-width: 15%;
  }
}