nav {
    background: #00000000;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
  
.navbar-collapse {
    vertical-align: unset;
}

.navbar-layout {
    padding-right: 0px;
    padding-left: 0px;
    padding: 0%;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-link {
    margin-top: 13px;
}

.navbar-collapse {
    margin-left: 50px;
}

.navbar {
    padding-left: 60px;
    padding-right: 60px;
}