.datatable-search-input {
    width: 60%;
    height: 40px;
    left: 240px;
    top: 79px;
    border-radius: 15px;
    border: 1px solid $border-color;
    padding: 12px 20px;
}

input.text-box {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid $border-color;
}