.btn-submit {
    display: inline-block;
    background: $orange-color;
    color: $white-color;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn-modal {
    width: 100%;
}

.btn-success {
    background-color: $success-color;
}

.btn-secondary {
    background-color: $dark-color;
}

.btn:hover {
    background: $btn-hold-color;
}

.btn-search-product {
    border-radius: 15px;
    border: 1px solid $dark-color;
    padding: 12px 20px;
    width: 120px;
    height: 45px;
}

button.view-product {
    width: 108px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: $shadow-color;
    font-size: 35px;
    font-weight: bold;
}

.close-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.close:hover,
.close:focus {
    color: $orange-color;
    cursor: pointer;
}

form .btn-submit {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.form-btn {
    display: inline-block;
}

form btn-:focus {
    outline: none;
}