.card-body a {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $text-orange;
}
  
.card-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
  
.card-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $text-dark;
    width: 240px;
    height: 60px;
    text-align: left;
}

.card-faq {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $text-dark;
    text-align: left;
    width: 240px;
    margin-left: 0px;
}

.card-sm {
    height: 151px;
}

.card-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $text-dark;
    text-align: left;
    margin-top: 10px;
}

.card-images {
    position: relative;
    width: 50%;
}

.card-images:hover {
    .image1 {
      opacity: 0.3;
    }
  
    .icon-middle {
      opacity: 1;
    }
}
  
.card-body-sale {
    margin-top: 25px;
}

@media (min-width: 480px) {
    .card-md {
        margin-left: 120px;
        margin-top: 5px;
    }

    .card-decks {
        margin-left: auto;
        margin-right: auto;
    }
    
    .card-sm {
        margin-left: 29px;
        margin-top: 10px;
    }
}

@media (min-width: 500px) {
    .card-sm {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
}

@media (min-width: 580px) {
    .card-md {
        margin-left: 190px;
    }
}

@media (min-width: 750px) {
    .card-center {
        margin-left: 120px;
    }
    
    .card-md {
        margin-left: 0px;
        margin-top: 5px;
    }

    .card-sm {
        margin-left: 29px;
        margin-top: 10px;
    }
}

@media (min-width: 850px) {
    .card-center {
        margin-left: -30px;
    }
}