.form-add-product {
    text-align: right;
    margin-right: 15%;
}

.form-container {
    background: $white-color;
    width: 300px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-left: -55px;
    box-shadow: 0 0 20px 0px $shadow-color;
}

div.form-outline {
    margin-top: 20px;
}

section {
    margin-top: 30px;
}

.form-view-product {
    box-sizing: border-box;
    border: 1px solid $black-color;
}

.login-form {
    left: -300px;
}