.icon-md {
    margin-left: 10px;
    font-size: 2rem;
    color: $text-orange;
}
  
.icon-sm {
    margin-left: 10px;
    margin-top: 10px;
    color: $text-orange;
}

.icon-center {
    margin-top: 35px;
    margin-left: 128px;
    margin-right: 128px;
}

.icon-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    left: 60%;
    text-align: center;
    width: 128.41px;
}

.icon-top {
    transition: .5s ease;
    position: absolute;
    top: 5%;
    left: 10%;
    width: auto;
}

.arrow-right{
    font-weight: normal;
    font-size: 30px;
    margin-top: 15px;
    color: darkorange;
    margin-left: 15px;
}

.checked {
    color: gold;
}

.bi-download {
    color: $text-dark;
}

.bi-arrow-right {
    width: 16;
    margin-left: 10px;
    height: 16;
}

@media (min-width: 480px) {
    .icon-footer {
        margin-top: 15px;
        text-align: center;
    }
}
